h1{
    color: #45aa1688;
}

img{
    width: 50%;
}

#program{
    color: cyan;
}
.number {
    background-color: firebrick;
}
.bring{
    border: 20px solid gold ;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 20px;
}